<h3 style="padding-top: 50px">Nova Corrida </h3>

<hr>
<div class="row">
  <div class="col-md-10">
    <form enctype="multipart/form-data" (ngSubmit)="cadastrarCorrida()" [formGroup]="corridaForm">


      <div class="alert alert-danger" *ngIf="errors.length > 0">
        <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
        <ul>
          <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
      </div>

      <div class="form-group">
        <label class="control-label" for="VeiculoId">Veiculo</label>
        <select class="form-control" data-val="true" formControlName="VeiculoId"
          data-val-required="O campo Veiculo é obrigatório" id="VeiculoId" name="VeiculoId">
          <option></option>
          <option *ngFor='let veiculo of veiculos' value="{{ veiculo.id }}">{{ veiculo.placa }} - {{ veiculo.modelo }} </option>
        </select>

        <span class="text-danger field-validation-valid" data-valmsg-for="VeiculoId"
          data-valmsg-replace="true"></span>
      </div>

      <div class="form-group">
        <label class="control-label" for="IdMotoristaPrimeiro">Primeiro Motorisca</label>
        <select class="form-control" data-val="true" formControlName="idMotoristaPrimeiro"
          data-val-required="O campo Primeiro Motorista é obrigatório" id="IdMotoristaPrimeiro" name="IdMotoristaPrimeiro">
          <option></option>
          <option *ngFor='let motorista of motoristas' value="{{ motorista.id }}">{{ motorista.nome }}</option>
        </select>

        <span class="text-danger field-validation-valid" data-valmsg-for="IdMotoristaPrimeiro"
          data-valmsg-replace="true"></span>
      </div>


      <div class="form-group">
        <label class="control-label" for="IdMotoristaSegundo">Segundo Motorisca</label>
        <select class="form-control" data-val="true" formControlName="idMotoristaSegundo"
          data-val-required="O campo Segundo Motorista é obrigatório" id="IdMotoristaSegundo" name="IdMotoristaSegundo">
          <option></option>
          <option *ngFor='let motorista of motoristas' value="{{ motorista.id }}">{{ motorista.nome }}</option>
        </select>

        <span class="text-danger field-validation-valid" data-valmsg-for="IdMotoristaSegundo"
          data-valmsg-replace="true"></span>
      </div>

      <div class="form-group">
        <label class="control-label" for="Descricao">Descrição</label>
        <textarea formControlName="descricao" cols="40" rows="5" class="form-control" data-val="true"
          data-val-length="O campo Descrição precisa ter entre 2 e 1000 caracteres" data-val-length-max="1000"
          data-val-length-min="2" data-val-required="O campo Descrição é obrigatório" id="Descricao" maxlength="1000"
          name="Descricao"></textarea>
        <span class="text-danger field-validation-valid" data-valmsg-for="Descricao" data-valmsg-replace="true"></span>
      </div>

      <div class="form-group">
        <label class="control-label" for="Descricao">Descrição</label>
        <textarea formControlName="descricao" cols="40" rows="5" class="form-control" data-val="true"
          data-val-length="O campo Descrição precisa ter entre 2 e 1000 caracteres" data-val-length-max="1000"
          data-val-length-min="2" data-val-required="O campo Descrição é obrigatório" id="Descricao" maxlength="1000"
          name="Descricao"></textarea>
        <span class="text-danger field-validation-valid" data-valmsg-for="Descricao" data-valmsg-replace="true"></span>
      </div>


   
    
      
    

      <div class="form-group">
        <input type="submit" value="Cadastrar" class="btn btn-primary">
        <a class="btn btn-info" [routerLink]="['/lista-corridas']">Voltar</a>
      </div>
    </form>
  </div>
</div>